venv/
.env
__pycache__/
*.pyc
.DS_Store
data/raw/raw/raw/
data/raw/raw/processed/
*.pkl
*.faiss
.ipynb_checkpoints/frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.next/
frontend/node_modules/

.agents/